html {
    box-sizing: border-box;
    font-size: 65.5%;
    scroll-behavior: smooth;
    }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    /*10 px = 1rem*/
    background-color: var(--body-color);
    color: var(--text-color);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: var(--normal-font-size);
  }

  h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }

  a { 
    text-decoration: none;
    cursor: pointer;
  }
  
  img,
  picture,
  video,
  iframe,
  figure {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
    /* opcional */
    -o-object-fit: cover;
    object-fit: cover;
    /* opcional */
    -o-object-position: center center;
    object-position: center center;
  }
  
  svg {
      width: 100%;
      display: block;
  }
  
  ul{
    list-style: none;
  }
 